/* ----------------------------------------------------------------- */
/* PANEL STYLES */
/* ----------------------------------------------------------------- */
/* Panels */
.panelContent {
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: black;
    border: solid;
    border-image: linear-gradient(180deg, #FF8E71 5%, #583D72) 10;
    border-width: 0px 6px 6px 6px ;
    background: rgba(0, 0, 0, 0.01);
}
.panelHeader {
    background: #FF8E71;
    border-radius: 6px 6px 0px 0px;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Scada';
}
.panel {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 20px;
}
.panelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

/* Graphs */
.graphique {
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #AAA;
    margin: 5px;
    background: white;
}

/* Consultation attribuée */
.itemMedium {
    margin: 10px 0px;
    border-radius: 6px;
    padding: 15px 0px 0px 0px;
    position: relative;
}
.itemMedium[genre="Homme"] {
    background: linear-gradient(90deg, rgba(227, 113, 255, 0.3), rgba(116, 113, 255, 0.3));
}
.itemMedium[genre="Femme"] {
    background: linear-gradient(90deg, rgba(255, 222, 48, 0.3), rgba(232, 48, 37, 0.3));
}
.flexContainerMedium {
    display: flex;
    flex-direction: row;
}
.mediumLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;   
    flex-shrink: 0;
    flex-basis: 12em;
}
.imageMedium {
    -webkit-filter: drop-shadow(2px 2px 0 black)
                    drop-shadow(-2px 2px 0 black)
                    drop-shadow(2px -2px 0 black)
                    drop-shadow(-2px -2px 0 black);
    filter: drop-shadow(2px 2px 0 black)
            drop-shadow(-2px 2px 0 black)
            drop-shadow(2px -2px 0 black)
            drop-shadow(-2px -2px 0 black);
}
.typeMedium {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px grey;
    margin: 10px;
}

.denominationMedium {
    font-size: 30px;
    font-weight: bold;
    color: #583D72;
}
.presentationMedium {
    font-size: 24px;
    color: black;
}
.complementMedium {
    color: #555;
    font-size: 22px;
    font-style: oblique;
}

#consultationAttribuee {
    padding: 20px;
}
#informationsConsultation {
    font-weight: bold;
}