/* ----------------------------------------------------------------- */
/* PANEL STYLES */
/* ----------------------------------------------------------------- */
.graphique {
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #AAA;
    margin: 5px;
}
.panelContent {
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: black;
    border: solid;
    border-image: linear-gradient(180deg, #FF8E71 5%, #583D72) 10;
    border-width: 6px;
}
.panelHeader {
    background: #FF8E71;
    border-radius: 6px 6px 0px 0px;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
}
.panel {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 20px;
}
.panelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
#consultationAttribuee {
    padding: 20px;
}
#informationsConsultation {
    font-weight: bold;
}
.panelContent {
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: black;
    border: solid;
    border-image: linear-gradient(180deg, #FF8E71 5%, #583D72) 10;
    border-width: 6px;
}
.panelHeader {
    background: #FF8E71;
    border-radius: 6px 6px 0px 0px;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
}
.panel {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 20px;
}
