/* ----------------------------------------------------------------- */
/* BASE STYLES */
/* ----------------------------------------------------------------- */
body {
    font-family: "Lato";
}
button {
    background: #583D72;
    border-style: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: 0.075s;
}
button:hover {
    background: #995ab3;
    box-shadow: -4px 4px 0 0 #FF8E71;

}
.hyperlien {
    color: dodgerblue;
}
.ligne {
    box-shadow: 0px 10px #d0ebda
}
input {
    display: inline-block;
    float: left;
}
hr {
    width: 65%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.texteErreur {
    color: red;
}

/* ----------------------------------------------------------------- */
/* HEADER STYLES */
/* ----------------------------------------------------------------- */

/* Header BG box */
.header {
    
    overflow: hidden;
    background: url("etoiles.png"), linear-gradient(90deg, #583D72 20%, #612A75);
    padding: 0px 20px;
}
/* Header logo */
.header a.logo {
    font-size: 28px;
    font-weight: bold;
    padding: 24px 42px 24px 0px;
    box-shadow: -20px 0 0 0 #FF8E71;
    font-family: "Georgia";
    background: #FF8E71;
    border-radius: 0px 30px 30px 0px;
}
/* Header buttons */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 24px 12px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 0px 3px 0px 3px;
    border-radius: 10px;
}
/* Header button hover */
.header-right a:hover {
    background-color: #995ab3;
    border-color: white;
}
/* Header button selected */
.header-right a.active {
    background-color: #995ab3;
    border-color: white;
}
/* Header button alignment */
.header-right {
    float: right;
}

/* ----------------------------------------------------------------- */
/* IMAGE BANNER STYLES */
/* ----------------------------------------------------------------- */

/* Banner image */
.banner-image {
    background-image: url(boule-crystal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0rem 0rem 4rem 0rem;
}
/* Banner text panel */
.banner-text {
    color: black;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 1rem;
}
/* Banner header */
.banner-text h1 {
    font-size: 50px;
}
/* Banner paragraphs */
.banner-text p {
    font-size: 26px;
}
/* Banner button */
.banner-text button {
    padding: 12px 26px;
    background: #583D72;
    border-style: solid;
    border-width: 0px 3px 0px 3px;
    border-color: #583D72;
    border-radius: 6px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    box-shadow: -4px 4px 0 0 #FF8E71;
}
/* Banner button hover */
.banner-text button:hover {
    background: #995ab3;
    border-color: white;
}

/* ----------------------------------------------------------------- */
/* POPUP STYLES */
/* ----------------------------------------------------------------- */
/* Overlay des popups (background assombri) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
/* Boites des popups */
.popupConnexion, .popupInscription {
    background: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 6px;
}
.popupConnexion {
    width: 33%; 
}
.popupInscription {
    width: 40%;
}
/* Bouton fermer les popups */
.fermerPopup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.fermerPopup:hover,
.fermerPopup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Tableaux de formulaires */
.popupConnexion table, .popupInscription table {
    width: 80%; 
    margin-left: auto; 
    margin-right: auto;
    border-spacing: 12px;
    border-collapse: separate;
}
.popupConnexion td, .popupInscription td {
    height: 30px;
    color: #583D72;
    font-size: 20px;
    text-align: left;
}
.popupConnexion td[colspan="2"], .popupInscription td[colspan="2"] {
    height: 40px;
    padding: 12px 0px;
}
.popupConnexion input, .popupInscription input, 
.popupConnexion div, .popupInscription div, 
.popupConnexion button, .popupInscription button  {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* ----------------------------------------------------------------- */
/* FORMULAIRES */
/* ----------------------------------------------------------------- */
.label {
    margin: 2px;
    flex-grow: 1;
}
.input {
    margin: 2px;
    flex-grow: 4;
}
.labeledInput {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-between;
}
    


/* ----------------------------------------------------------------- */
/* RESPONSIVENESS */
/* ----------------------------------------------------------------- */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}