/* ----------------------------------------------------------------- */
/* HEADER STYLES */
/* ----------------------------------------------------------------- */

/* Header BG box */
.header {
    overflow: hidden;
    background: linear-gradient(90deg, #583D72 20%, #612A75);
    padding: 0px 20px;
}
/* Header logo */
.header a.logo {
    font-size: 28px;
    font-weight: bold;
    padding: 24px 42px 24px 0px;
    box-shadow: -20px 0 0 0 #FF8E71;
    font-family: "Georgia";
    background: #FF8E71;
    border-radius: 0px 30px 30px 0px;
}
/* Header buttons */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 24px 12px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    font-family: "Lato";
    border-style: none solid none solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 3px;
}
/* Header button hover */
.header-right a:hover {
    background-color: #995ab3;
    border-style: none solid none solid;
    border-color: white;
    border-width: 3px;
}
/* Header button selected */
.header-right a.active {
    background-color: #995ab3;
    border-style: none solid none solid;
    border-color: white;
    border-width: 3px;
}
/* Header button alignment */
.header-right {
  float: right;
}

/* ----------------------------------------------------------------- */
/* IMAGE BANNER STYLES */
/* ----------------------------------------------------------------- */

/* Banner image */
.banner-image {
    background-image: url(boule-crystal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0rem 0rem 4rem 0rem;
}
/* Banner text panel */
.banner-text {
    color: black;
    font-family: "Lato";
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 1rem;
}
/* Banner header */
.banner-text h1 {
     font-size: 50px;
}
/* Banner paragraphs */
.banner-text p {
     font-size: 26px;
}
/* Banner button */
.banner-text a {
    padding: 12px 26px;
    background: #583D72;
    text-decoration: none;
    border: solid;
    border-width: 3px;
    border-color: #583D72;
    border-radius: 6px;
    font-family: "Lato";
    font-size: 24px;
    color: white;
    box-shadow: -4px 4px 0 0 #FF8E71;
}
/* Banner button hover */
.banner-text a:hover {
    background: #995ab3;
    border-color: white;
}

/* ----------------------------------------------------------------- */
/* POPUP STYLES */
/* ----------------------------------------------------------------- */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}
#popupConnexion {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  padding: 5px 25px;
  position: relative;
  z-index: 10;
  display: none;
  background: white;
  border: none;
  border-radius: 10px;
}
#popupConnexion:target, #popupConnexion:target + #overlay {
  display:block;
  opacity:2;
}

/* ----------------------------------------------------------------- */
/* RESPONSIVENESS */
/* ----------------------------------------------------------------- */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}